
@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: 'Alumni Sans';
  src: url('/detailing/fonts/AlumniSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


@layer base {
  button {
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
  }
}

@layer utilities {
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  }
  
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }

  .reveal-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .reveal-left.active {
    opacity: 1;
    transform: translateX(0);
  }
}


:root {
  font-family: system-ui, 'alumni-sans' Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #000000;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.reveal.active, .reveal-left.active {
  opacity: 1;
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  .reveal-left {
    transform: translateY(20px);
  }
  

  * {
    -webkit-overflow-scrolling: touch;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .text-stroke-mobile {
    -webkit-text-stroke: 1px rgba(175, 140, 19, 0.6);
  }
}

 @media (max-width: 767px) {
  .text-stroke-mobile {
    -webkit-text-stroke: 0px;
    color: #AF8C13; 
  }
}